body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u655 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u656 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u657 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u658 {
  position:absolute;
  left:0px;
  top:22px;
  width:375px;
  height:22px;
}
#u659 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u660 {
  position:absolute;
  left:162px;
  top:7px;
  width:138px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u662 {
  position:absolute;
  left:39px;
  top:342px;
  width:299px;
  height:1px;
}
#u663 {
  position:absolute;
  left:2px;
  top:-8px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u664 {
  position:absolute;
  left:9px;
  top:5px;
  width:82px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u665 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u666 {
  position:absolute;
  left:0px;
  top:43px;
  width:375px;
  height:604px;
  overflow:hidden;
}
#u666_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u666_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:605px;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:605px;
}
#u668 {
  position:absolute;
  left:2px;
  top:294px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u669 {
  position:absolute;
  left:39px;
  top:552px;
  width:320px;
  height:41px;
}
#u670 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:374px;
  background:inherit;
  background-color:rgba(78, 168, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u671 {
  position:absolute;
  left:16px;
  top:35px;
  width:295px;
  height:374px;
}
#u672 {
  position:absolute;
  left:2px;
  top:179px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:254px;
}
#u673 {
  position:absolute;
  left:19px;
  top:177px;
  width:283px;
  height:254px;
}
#u674 {
  position:absolute;
  left:2px;
  top:119px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u675 {
  position:absolute;
  left:19px;
  top:23px;
  width:125px;
  height:28px;
  color:#00FFFF;
}
#u676 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u677 {
  position:absolute;
  left:73px;
  top:84px;
  width:217px;
  height:56px;
  color:#00FFFF;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u679 {
  position:absolute;
  left:183px;
  top:571px;
  width:31px;
  height:22px;
}
#u680 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u666_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:604px;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:604px;
}
#u682 {
  position:absolute;
  left:2px;
  top:294px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u683 {
  position:absolute;
  left:27px;
  top:551px;
  width:320px;
  height:41px;
}
#u684 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:374px;
  background:inherit;
  background-color:rgba(78, 168, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u685 {
  position:absolute;
  left:16px;
  top:35px;
  width:295px;
  height:374px;
}
#u686 {
  position:absolute;
  left:2px;
  top:179px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:254px;
}
#u687 {
  position:absolute;
  left:19px;
  top:177px;
  width:283px;
  height:254px;
}
#u688 {
  position:absolute;
  left:2px;
  top:119px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u689 {
  position:absolute;
  left:7px;
  top:23px;
  width:313px;
  height:28px;
  color:#00FFFF;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u691 {
  position:absolute;
  left:73px;
  top:84px;
  width:217px;
  height:56px;
  color:#00FFFF;
}
#u692 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u693 {
  position:absolute;
  left:182px;
  top:570px;
  width:30px;
  height:22px;
}
#u694 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u666_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u696 {
  position:absolute;
  left:2px;
  top:294px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u697 {
  position:absolute;
  left:28px;
  top:551px;
  width:320px;
  height:41px;
}
#u698 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:374px;
  background:inherit;
  background-color:rgba(78, 168, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u699 {
  position:absolute;
  left:16px;
  top:35px;
  width:295px;
  height:374px;
}
#u700 {
  position:absolute;
  left:2px;
  top:179px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:254px;
}
#u701 {
  position:absolute;
  left:19px;
  top:177px;
  width:283px;
  height:254px;
}
#u702 {
  position:absolute;
  left:2px;
  top:119px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u703 {
  position:absolute;
  left:19px;
  top:23px;
  width:217px;
  height:28px;
  color:#00FFFF;
}
#u704 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u705 {
  position:absolute;
  left:73px;
  top:84px;
  width:217px;
  height:56px;
  color:#00FFFF;
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u707 {
  position:absolute;
  left:183px;
  top:570px;
  width:31px;
  height:22px;
}
#u708 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u666_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:602px;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:602px;
}
#u710 {
  position:absolute;
  left:2px;
  top:293px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u711 {
  position:absolute;
  left:27px;
  top:549px;
  width:320px;
  height:41px;
}
#u712 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:374px;
  background:inherit;
  background-color:rgba(78, 168, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u713 {
  position:absolute;
  left:16px;
  top:35px;
  width:295px;
  height:374px;
}
#u714 {
  position:absolute;
  left:2px;
  top:179px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:254px;
}
#u715 {
  position:absolute;
  left:19px;
  top:177px;
  width:283px;
  height:254px;
}
#u716 {
  position:absolute;
  left:2px;
  top:119px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u717 {
  position:absolute;
  left:19px;
  top:23px;
  width:217px;
  height:28px;
  color:#00FFFF;
}
#u718 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u719 {
  position:absolute;
  left:73px;
  top:84px;
  width:219px;
  height:84px;
  color:#00FFFF;
}
#u720 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u721 {
  position:absolute;
  left:182px;
  top:568px;
  width:30px;
  height:22px;
}
#u722 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u666_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:603px;
}
#u723 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:603px;
}
#u724 {
  position:absolute;
  left:2px;
  top:294px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u725 {
  position:absolute;
  left:28px;
  top:550px;
  width:320px;
  height:41px;
}
#u726 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:374px;
  background:inherit;
  background-color:rgba(78, 168, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u727 {
  position:absolute;
  left:16px;
  top:35px;
  width:295px;
  height:374px;
}
#u728 {
  position:absolute;
  left:2px;
  top:179px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:254px;
}
#u729 {
  position:absolute;
  left:19px;
  top:177px;
  width:283px;
  height:254px;
}
#u730 {
  position:absolute;
  left:2px;
  top:119px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u731 {
  position:absolute;
  left:19px;
  top:23px;
  width:289px;
  height:28px;
  color:#00FFFF;
}
#u732 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u733 {
  position:absolute;
  left:73px;
  top:84px;
  width:241px;
  height:84px;
  color:#00FFFF;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u735 {
  position:absolute;
  left:183px;
  top:569px;
  width:31px;
  height:22px;
}
#u736 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u666_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:603px;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:603px;
}
#u738 {
  position:absolute;
  left:2px;
  top:294px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:374px;
  background:inherit;
  background-color:rgba(78, 168, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u739 {
  position:absolute;
  left:16px;
  top:35px;
  width:295px;
  height:374px;
}
#u740 {
  position:absolute;
  left:2px;
  top:179px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:254px;
}
#u741 {
  position:absolute;
  left:19px;
  top:177px;
  width:283px;
  height:254px;
}
#u742 {
  position:absolute;
  left:2px;
  top:119px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u743 {
  position:absolute;
  left:19px;
  top:23px;
  width:241px;
  height:28px;
  color:#00FFFF;
}
#u744 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u745 {
  position:absolute;
  left:16px;
  top:67px;
  width:289px;
  height:140px;
  color:#00FFFF;
}
#u746 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(78, 168, 237, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4EA8ED;
}
#u747 {
  position:absolute;
  left:123px;
  top:562px;
  width:137px;
  height:35px;
  color:#4EA8ED;
}
#u748 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
