body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u964 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
}
#u965 {
  position:absolute;
  left:15px;
  top:90px;
  width:47px;
  height:32px;
}
#u966 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u967 {
  position:absolute;
  left:219px;
  top:84px;
  width:48px;
  height:40px;
}
#u968 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:43px;
}
#u969 {
  position:absolute;
  left:118px;
  top:84px;
  width:45px;
  height:43px;
}
#u970 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u972 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u973 {
  position:absolute;
  left:0px;
  top:22px;
  width:375px;
  height:22px;
}
#u974 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u975 {
  position:absolute;
  left:138px;
  top:11px;
  width:127px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u977 {
  position:absolute;
  left:0px;
  top:209px;
  width:375px;
  height:293px;
  overflow:hidden;
}
#u977_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:293px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u977_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u978 {
  position:absolute;
  left:58px;
  top:8px;
  width:152px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u980 {
  position:absolute;
  left:288px;
  top:17px;
  width:60px;
  height:16px;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u982 {
  position:absolute;
  left:58px;
  top:70px;
  width:152px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u984 {
  position:absolute;
  left:288px;
  top:79px;
  width:60px;
  height:16px;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u986 {
  position:absolute;
  left:58px;
  top:131px;
  width:162px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u988 {
  position:absolute;
  left:288px;
  top:140px;
  width:60px;
  height:16px;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u991 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
}
#u992 {
  position:absolute;
  left:5px;
  top:52px;
  width:48px;
  height:45px;
}
#u993 {
  position:absolute;
  left:2px;
  top:14px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:41px;
}
#u994 {
  position:absolute;
  left:5px;
  top:121px;
  width:43px;
  height:41px;
}
#u995 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u996 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u997 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u998 {
  position:absolute;
  left:33px;
  top:52px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u999 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:10px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.407843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(228, 228, 228, 0.207843137254902);
}
#u1000 {
  position:absolute;
  left:0px;
  top:105px;
  width:371px;
  height:10px;
  color:rgba(228, 228, 228, 0.207843137254902);
}
#u1001 {
  position:absolute;
  left:2px;
  top:-3px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:10px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.407843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(228, 228, 228, 0.207843137254902);
}
#u1002 {
  position:absolute;
  left:0px;
  top:166px;
  width:371px;
  height:10px;
  color:rgba(228, 228, 228, 0.207843137254902);
}
#u1003 {
  position:absolute;
  left:2px;
  top:-3px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:10px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.407843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(228, 228, 228, 0.207843137254902);
}
#u1004 {
  position:absolute;
  left:0px;
  top:42px;
  width:371px;
  height:10px;
  color:rgba(228, 228, 228, 0.207843137254902);
}
#u1005 {
  position:absolute;
  left:2px;
  top:-3px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:166px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1006 {
  position:absolute;
  left:0px;
  top:43px;
  width:375px;
  height:166px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:75px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1008 {
  position:absolute;
  left:197px;
  top:131px;
  width:94px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1010 {
  position:absolute;
  left:9px;
  top:5px;
  width:82px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1012 {
  position:absolute;
  left:4px;
  top:131px;
  width:94px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1014 {
  position:absolute;
  left:103px;
  top:131px;
  width:94px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1016 {
  position:absolute;
  left:308px;
  top:131px;
  width:67px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:43px;
}
#u1018 {
  position:absolute;
  left:314px;
  top:84px;
  width:45px;
  height:43px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
