body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1120 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:647px;
}
#u1121 {
  position:absolute;
  left:2px;
  top:316px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:22px;
}
#u1122 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:22px;
}
#u1123 {
  position:absolute;
  left:2px;
  top:3px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:22px;
}
#u1124 {
  position:absolute;
  left:0px;
  top:22px;
  width:366px;
  height:22px;
}
#u1125 {
  position:absolute;
  left:2px;
  top:3px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1126 {
  position:absolute;
  left:135px;
  top:11px;
  width:123px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1127 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u1128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1128 {
  position:absolute;
  left:9px;
  top:5px;
  width:80px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1129 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1130 {
  position:absolute;
  left:9px;
  top:52px;
  width:57px;
  height:57px;
}
#u1131 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:75px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1132 {
  position:absolute;
  left:0px;
  top:43px;
  width:366px;
  height:75px;
}
#u1133 {
  position:absolute;
  left:2px;
  top:30px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1134 {
  position:absolute;
  left:9px;
  top:130px;
  width:57px;
  height:57px;
}
#u1135 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1136 {
  position:absolute;
  left:9px;
  top:207px;
  width:57px;
  height:57px;
}
#u1137 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:75px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1138 {
  position:absolute;
  left:0px;
  top:118px;
  width:366px;
  height:75px;
}
#u1139 {
  position:absolute;
  left:2px;
  top:30px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1140 {
  position:absolute;
  left:78px;
  top:70px;
  width:217px;
  height:19px;
  color:#999999;
}
#u1141 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u1142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1142 {
  position:absolute;
  left:78px;
  top:147px;
  width:240px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u1143 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u1144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1144 {
  position:absolute;
  left:78px;
  top:223px;
  width:217px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u1145 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u1146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1146 {
  position:absolute;
  left:78px;
  top:291px;
  width:217px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u1147 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u1148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:75px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1148 {
  position:absolute;
  left:0px;
  top:193px;
  width:366px;
  height:75px;
}
#u1149 {
  position:absolute;
  left:2px;
  top:30px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1150 {
  position:absolute;
  left:9px;
  top:274px;
  width:57px;
  height:57px;
}
#u1151 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:75px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1152 {
  position:absolute;
  left:0px;
  top:268px;
  width:366px;
  height:75px;
}
#u1153 {
  position:absolute;
  left:2px;
  top:30px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1154 {
  position:absolute;
  left:58px;
  top:89px;
  visibility:hidden;
}
#u1154_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1154_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1155 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  color:#FFFFFF;
  text-align:left;
}
#u1156 {
  position:absolute;
  left:2px;
  top:38px;
  width:246px;
  word-wrap:break-word;
}
#u1154_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1154_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1157 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  color:#FFFFFF;
  text-align:left;
}
#u1158 {
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  word-wrap:break-word;
}
#u1154_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1154_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1159 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  color:#FFFFFF;
  text-align:left;
}
#u1160 {
  position:absolute;
  left:2px;
  top:46px;
  width:246px;
  word-wrap:break-word;
}
#u1154_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1154_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1161 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  color:#FFFFFF;
  text-align:left;
}
#u1162 {
  position:absolute;
  left:2px;
  top:30px;
  width:246px;
  word-wrap:break-word;
}
#u1163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:647px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.419607843137255);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u1163 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:647px;
  color:#949494;
}
#u1164 {
  position:absolute;
  left:2px;
  top:316px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1165 {
  position:absolute;
  left:318px;
  top:73px;
  width:57px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1166 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1167 {
  position:absolute;
  left:318px;
  top:147px;
  width:57px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1168 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1169 {
  position:absolute;
  left:318px;
  top:223px;
  width:57px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1170 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1171 {
  position:absolute;
  left:318px;
  top:291px;
  width:57px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1172 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
