body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1381 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:647px;
}
#u1382 {
  position:absolute;
  left:2px;
  top:316px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:22px;
}
#u1383 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:22px;
}
#u1384 {
  position:absolute;
  left:2px;
  top:3px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:22px;
}
#u1385 {
  position:absolute;
  left:0px;
  top:22px;
  width:358px;
  height:22px;
}
#u1386 {
  position:absolute;
  left:2px;
  top:3px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1387 {
  position:absolute;
  left:132px;
  top:7px;
  width:154px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1388 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u1389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:2px;
}
#u1389 {
  position:absolute;
  left:37px;
  top:342px;
  width:285px;
  height:1px;
}
#u1390 {
  position:absolute;
  left:2px;
  top:-8px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1391 {
  position:absolute;
  left:9px;
  top:5px;
  width:78px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1392 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1393 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:647px;
}
#u1394 {
  position:absolute;
  left:2px;
  top:316px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:22px;
}
#u1395 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:22px;
}
#u1396 {
  position:absolute;
  left:2px;
  top:3px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:22px;
}
#u1397 {
  position:absolute;
  left:0px;
  top:22px;
  width:358px;
  height:22px;
}
#u1398 {
  position:absolute;
  left:2px;
  top:3px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1399 {
  position:absolute;
  left:132px;
  top:7px;
  width:154px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1400 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u1401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:2px;
}
#u1401 {
  position:absolute;
  left:37px;
  top:342px;
  width:285px;
  height:1px;
}
#u1402 {
  position:absolute;
  left:2px;
  top:-8px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:98px;
}
#u1403 {
  position:absolute;
  left:119px;
  top:211px;
  width:121px;
  height:98px;
}
#u1404 {
  position:absolute;
  left:2px;
  top:41px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1405 {
  position:absolute;
  left:119px;
  top:321px;
  width:157px;
  height:48px;
  color:#CCCCCC;
}
#u1406 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u1407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1407 {
  position:absolute;
  left:9px;
  top:5px;
  width:78px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1408 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1409 {
  position:absolute;
  left:68px;
  top:375px;
  width:307px;
  height:16px;
  color:#CCCCCC;
}
#u1410 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u1411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(78, 168, 237, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1411 {
  position:absolute;
  left:198px;
  top:374px;
  width:103px;
  height:23px;
}
#u1412 {
  position:absolute;
  left:2px;
  top:4px;
  width:99px;
  word-wrap:break-word;
}
