body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u1969 {
  position:absolute;
  left:0px;
  top:22px;
  width:375px;
  height:22px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1971 {
  position:absolute;
  left:138px;
  top:11px;
  width:127px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u1973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1973 {
  position:absolute;
  left:9px;
  top:5px;
  width:82px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u1975 {
  position:absolute;
  left:39px;
  top:342px;
  width:299px;
  height:1px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:-8px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:45px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1977 {
  position:absolute;
  left:9px;
  top:96px;
  width:352px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1978 {
  position:absolute;
  left:2px;
  top:13px;
  width:348px;
  word-wrap:break-word;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1979 {
  position:absolute;
  left:305px;
  top:107px;
  width:70px;
  height:19px;
  font-size:16px;
}
#u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1981 {
  position:absolute;
  left:9px;
  top:141px;
  width:352px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1982 {
  position:absolute;
  left:2px;
  top:13px;
  width:348px;
  word-wrap:break-word;
}
#u1983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1983 {
  position:absolute;
  left:305px;
  top:152px;
  width:70px;
  height:19px;
  font-size:16px;
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u1985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1985 {
  position:absolute;
  left:305px;
  top:198px;
  width:70px;
  height:19px;
  font-size:16px;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1987 {
  position:absolute;
  left:9px;
  top:232px;
  width:352px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1988 {
  position:absolute;
  left:2px;
  top:13px;
  width:348px;
  word-wrap:break-word;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1989 {
  position:absolute;
  left:305px;
  top:289px;
  width:70px;
  height:19px;
  font-size:16px;
}
#u1990 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:45px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1991 {
  position:absolute;
  left:9px;
  top:186px;
  width:352px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1992 {
  position:absolute;
  left:2px;
  top:13px;
  width:348px;
  word-wrap:break-word;
}
#u1993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:45px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1993 {
  position:absolute;
  left:12px;
  top:277px;
  width:352px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1994 {
  position:absolute;
  left:2px;
  top:13px;
  width:348px;
  word-wrap:break-word;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u1995 {
  position:absolute;
  left:300px;
  top:61px;
  width:14px;
  height:11px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1997 {
  position:absolute;
  left:185px;
  top:58px;
  width:94px;
  height:16px;
  color:#999999;
}
#u1998 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u1999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1999 {
  position:absolute;
  left:56px;
  top:58px;
  width:94px;
  height:16px;
  color:#999999;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u2001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2001 {
  position:absolute;
  left:305px;
  top:244px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u2002 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.419607843137255);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u2003 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  color:#949494;
}
#u2004 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005 {
  position:absolute;
  left:12px;
  top:186px;
  width:352px;
  height:191px;
  overflow:hidden;
  visibility:hidden;
}
#u2005_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:191px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2005_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2006 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2007 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2008 {
  position:absolute;
  left:17px;
  top:21px;
  width:253px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2009 {
  position:absolute;
  left:2px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u2008_input {
  position:absolute;
  left:236px;
  top:-2px;
}
#u2010 {
  position:absolute;
  left:17px;
  top:59px;
  width:253px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2011 {
  position:absolute;
  left:2px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u2010_input {
  position:absolute;
  left:236px;
  top:-2px;
}
#u2012 {
  position:absolute;
  left:17px;
  top:101px;
  width:253px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2013 {
  position:absolute;
  left:2px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u2012_input {
  position:absolute;
  left:236px;
  top:-2px;
}
