body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2014 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u2016 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u2018 {
  position:absolute;
  left:0px;
  top:22px;
  width:375px;
  height:22px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2020 {
  position:absolute;
  left:138px;
  top:11px;
  width:127px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2021 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u2022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:166px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2022 {
  position:absolute;
  left:0px;
  top:43px;
  width:375px;
  height:166px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:75px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2024 {
  position:absolute;
  left:9px;
  top:5px;
  width:82px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2025 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u2026 {
  position:absolute;
  left:61px;
  top:173px;
  width:94px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u2027 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u2028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u2028 {
  position:absolute;
  left:244px;
  top:176px;
  width:94px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u2029 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u2030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2030 {
  position:absolute;
  left:45px;
  top:61px;
  width:255px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2031 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u2032 {
  position:absolute;
  left:302px;
  top:68px;
  width:14px;
  height:11px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:55px;
}
#u2034 {
  position:absolute;
  left:247px;
  top:118px;
  width:56px;
  height:55px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:55px;
}
#u2036 {
  position:absolute;
  left:80px;
  top:118px;
  width:56px;
  height:55px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.419607843137255);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u2038 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  color:#949494;
}
#u2039 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040 {
  position:absolute;
  left:12px;
  top:206px;
  width:352px;
  height:191px;
  overflow:hidden;
  visibility:hidden;
}
#u2040_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:191px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2040_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2041 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2043 {
  position:absolute;
  left:17px;
  top:21px;
  width:253px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2044 {
  position:absolute;
  left:2px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u2043_input {
  position:absolute;
  left:236px;
  top:-2px;
}
#u2045 {
  position:absolute;
  left:17px;
  top:59px;
  width:253px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2046 {
  position:absolute;
  left:2px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u2045_input {
  position:absolute;
  left:236px;
  top:-2px;
}
#u2047 {
  position:absolute;
  left:17px;
  top:101px;
  width:253px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2048 {
  position:absolute;
  left:2px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u2047_input {
  position:absolute;
  left:236px;
  top:-2px;
}
